# Misc
/env/ @nsmithtt @vwellsTT
*.fbs @jnie-TT @nsmithtt
/.github/CODEOWNERS @vmilosevic @tapspatel @nsmithtt @sdjordjevicTT @tt-mpantic
LICENSE @nsmithtt

# CI
/.github/ @tenstorrent/forge-developers-mlir-devops

# Build
*.cmake @tenstorrent/forge-developers-mlir-build
*.txt @tenstorrent/forge-developers-mlir-build

# Docs
*.md @nsmithtt @sdjordjevicTT
/docs/ @nsmithtt @sdjordjevicTT

# tt-mlir Bindings
/include/ttmlir/Bindings/ @ctodTT @tapspatel @vcanicTT
/include/ttmlir-c/ @ctodTT @tapspatel @vcanicTT
/lib/CAPI/ @ctodTT @tapspatel @vcanicTT
/python/ @ctodTT @tapspatel @vcanicTT

# StableHLO Dialect
include/ttmlir/Dialect/StableHLO @tenstorrent/forge-developers-mlir-stablehlo
lib/Dialect/StableHLO @tenstorrent/forge-developers-mlir-stablehlo
test/ttmlir/Dialect/StableHLO @tenstorrent/forge-developers-mlir-stablehlo

# StableHLO Conversion
/include/ttmlir/Conversion/ArithToStableHLO/ @tenstorrent/forge-developers-mlir-stablehlo
/include/ttmlir/Conversion/StableHLOToTTIR/ @tenstorrent/forge-developers-mlir-stablehlo
/lib/Conversion/StableHLOToTTIR/ @tenstorrent/forge-developers-mlir-stablehlo
/test/ttmlir/Conversion/ArithToStableHLO/ @tenstorrent/forge-developers-mlir-stablehlo
/test/ttmlir/Conversion/StableHLOToTTIR/ @tenstorrent/forge-developers-mlir-stablehlo
/test/ttmlir/Silicon/StableHLO/ @tenstorrent/forge-developers-mlir-stablehlo

# Linalg Conversion
/include/ttmlir/Conversion/TTIRToLinalg/ @vwellsTT @ctodTT @nsmithTT
/lib/Conversion/TTIRToLinalg/ @vwellsTT @ctodTT @nsmithTT
/test/ttmlir/Conversion/TTIRToLinalg/ @vwellsTT @ctodTT @nsmithTT

# Tosa Conversion
/include/ttmlir/Conversion/TosaToTTIR/ @tenstorrent/forge-developers-mlir-tosa
/lib/Conversion/TosaToTTIR/ @tenstorrent/forge-developers-mlir-tosa
/test/ttmlir/Conversion/TosaToTTIR/ @tenstorrent/forge-developers-mlir-tosa

# TTNN Conversions
/include/ttmlir/Conversion/TTIRToTTIRDecomposition/ @tenstorrent/forge-developers-mlir-core
/include/ttmlir/Conversion/TTIRToTTNN/ @tenstorrent/forge-developers-mlir-core @jnie-TT
/include/ttmlir/Conversion/TTNNToEmitC/ @tenstorrent/forge-developers-mlir-core
/include/ttmlir/Conversion/TTNNToEmitPy/ @tenstorrent/forge-developers-mlir-core
/lib/Conversion/TTIRToTTIRDecomposition/ @tenstorrent/forge-developers-mlir-core
/lib/Conversion/TTIRToTTNN/ @tenstorrent/forge-developers-mlir-core
/lib/Conversion/TTNNToEmitC/ @tenstorrent/forge-developers-mlir-core
/lib/Conversion/TTNNToEmitPy/ @tenstorrent/forge-developers-mlir-core
/test/ttmlir/Conversion/TTIRToTTIRDecomposition/ @tenstorrent/forge-developers-mlir-core
/test/ttmlir/Conversion/TTIRToTTNN/ @tenstorrent/forge-developers-mlir-core
/test/ttmlir/Conversion/TTNNToEmitC/ @tenstorrent/forge-developers-mlir-core
/test/ttmlir/Conversion/TTNNToEmitPy/ @tenstorrent/forge-developers-mlir-core
/test/ttmlir/EmitC/ @tenstorrent/forge-developers-mlir-core
/test/ttmlir/EmitPy/ @tenstorrent/forge-developers-mlir-core
/test/unittests/TTNNToEmitC/ @tenstorrent/forge-developers-mlir-core

# TTIR Dialect
/include/ttmlir/Dialect/TTIR/ @tenstorrent/forge-developers-mlir-core @mrakitaTT
/lib/Dialect/TTIR/ @tenstorrent/forge-developers-mlir-core @mrakitaTT
/test/ttmlir/Dialect/TTIR/ @tenstorrent/forge-developers-mlir-core @mrakitaTT

# D2M Dialect
/include/ttmlir/Conversion/D2M* @tenstorrent/forge-developers-mlir-d2m
/include/ttmlir/Conversion/*D2M @tenstorrent/forge-developers-mlir-d2m
/include/ttmlir/Dialect/D2M/ @tenstorrent/forge-developers-mlir-d2m
/lib/Conversion/D2M* @tenstorrent/forge-developers-mlir-d2m
/lib/Conversion/*D2M @tenstorrent/forge-developers-mlir-d2m
/lib/Dialect/D2M/ @tenstorrent/forge-developers-mlir-d2m
/test/ttmlir/Conversion/D2M* @tenstorrent/forge-developers-mlir-d2m
/test/ttmlir/Conversion/*D2M @tenstorrent/forge-developers-mlir-d2m
/test/ttmlir/Dialect/D2M/ @tenstorrent/forge-developers-mlir-d2m

# SFPI Dialect
/include/ttmlir/Dialect/SFPI/ @tenstorrent/forge-developers-mlir-d2m
/lib/Dialect/SFPI/ @tenstorrent/forge-developers-mlir-d2m
/test/ttmlir/Conversion/SFPIToEmitC/ @tenstorrent/forge-developers-mlir-d2m
/test/ttmlir/Dialect/SFPI/ @tenstorrent/forge-developers-mlir-d2m

# LLVM Dialect
/include/ttmlir/Dialect/LLVM/ @vwellsTT @mtopalovicTT
/lib/Dialect/LLVM/ @vwellsTT @mtopalovicTT
/test/ttmlir/Dialect/LLVM/ @vwellsTT @mtopalovicTT

# TT Dialect
/include/ttmlir/Dialect/TTCore/ @tenstorrent/forge-developers-mlir-core @nsmithtt @mrakitaTT
/lib/Dialect/TTCore/ @tenstorrent/forge-developers-mlir-core @nsmithtt @mrakitaTT
/test/ttmlir/Dialect/TTCore/ @tenstorrent/forge-developers-mlir-core @nsmithtt @mrakitaTT

# Metal Dialects
/include/ttmlir/Dialect/TTKernel/ @tenstorrent/forge-developers-mlir-d2m
/include/ttmlir/Dialect/TTMetal/ @tenstorrent/forge-developers-mlir-d2m
/lib/Dialect/TTKernel/ @tenstorrent/forge-developers-mlir-d2m
/lib/Dialect/TTMetal/ @tenstorrent/forge-developers-mlir-d2m
/test/ttmlir/Dialect/TTKernel/ @tenstorrent/forge-developers-mlir-d2m
/test/ttmlir/Dialect/TTMetal/ @tenstorrent/forge-developers-mlir-d2m
/test/unittests/Allocation @tenstorrent/forge-developers-mlir-d2m

# TTIR Erase Inverse Ops Optimization Pass
/include/ttmlir/Dialect/TTIR/Transforms/EraseInverseOps/ @LPanosTT @azecevicTT @odjuricicTT
/lib/Dialect/TTIR/Transforms/EraseInverseOps/ @LPanosTT @azecevicTT @odjuricicTT
/test/ttmlir/Dialect/TTIR/erase_inverse_ops/ @LPanosTT @azecevicTT @odjuricicTT

# TTIR Fusing Passes
/lib/Dialect/TTIR/Transforms/TTIRFusing.cpp @tenstorrent/forge-developers-mlir-core @odjuricicTT
/test/ttmlir/Dialect/TTIR/fusing/ @tenstorrent/forge-developers-mlir-core @odjuricicTT

# TTNN Dialects
/include/ttmlir/Dialect/TTNN/ @tenstorrent/forge-developers-mlir-core
/lib/Dialect/TTNN/ @tenstorrent/forge-developers-mlir-core
/test/ttmlir/Dialect/TTNN/ @tenstorrent/forge-developers-mlir-core

# TTNN Utils
/include/ttmlir/Dialect/TTNN/Utils/ @tenstorrent/forge-developers-mlir-core @tenstorrent/forge-developers-mlir-optimizer
/lib/Dialect/TTNN/Utils/ @tenstorrent/forge-developers-mlir-core @tenstorrent/forge-developers-mlir-optimizer

# TTNN Optimizer
/include/ttmlir/Dialect/TTNN/Analysis/ @tenstorrent/forge-developers-mlir-optimizer
/include/ttmlir/OpModel/ @tenstorrent/forge-developers-mlir-optimizer @arminaleTT @sgholamiTT
/include/ttmlir/Scheduler/ @tenstorrent/forge-developers-mlir-optimizer
/include/ttmlir/Dialect/TTNN/Validation @tenstorrent/forge-developers-mlir-optimizer
/lib/Dialect/TTNN/Analysis/ @tenstorrent/forge-developers-mlir-optimizer
/lib/Dialect/TTNN/Validation/ @tenstorrent/forge-developers-mlir-optimizer
/lib/Dialect/TTNN/Transforms/OptimizerPasses @tenstorrent/forge-developers-mlir-optimizer
/lib/OpModel/ @tenstorrent/forge-developers-mlir-optimizer @arminaleTT @sgholamiTT
/lib/Scheduler/ @tenstorrent/forge-developers-mlir-optimizer
/test/ttmlir/Dialect/TTNN/optimizer/ @tenstorrent/forge-developers-mlir-optimizer
/test/ttmlir/Silicon/TTNN/**/optimizer/ @tenstorrent/forge-developers-mlir-optimizer
/test/unittests/Optimizer @tenstorrent/forge-developers-mlir-optimizer
/test/unittests/OpModel @tenstorrent/forge-developers-mlir-optimizer @arminaleTT @sgholamiTT
/test/unittests/TestScheduler/ @tenstorrent/forge-developers-mlir-optimizer

# TTNN Fusing Passes
/lib/Dialect/TTNN/Transforms/TTNNFusing.cpp @tenstorrent/forge-developers-mlir-core @odjuricicTT
/test/ttmlir/Dialect/TTNN/fusing/ @tenstorrent/forge-developers-mlir-core @odjuricicTT

# LLVM Target
/include/ttmlir/Target/LLVM/ @vwellsTT @mtopalovicTT
/lib/Target/LLVM/ @vwellsTT @mtopalovicTT

# Metal Target
/include/ttmlir/Target/TTKernel/ @tenstorrent/forge-developers-mlir-d2m
/include/ttmlir/Target/TTMetal/ @tenstorrent/forge-developers-mlir-d2m
/lib/Target/TTKernel/ @tenstorrent/forge-developers-mlir-d2m
/lib/Target/TTMetal/ @tenstorrent/forge-developers-mlir-d2m

# TTNN Target
/include/ttmlir/Target/TTNN/ @tenstorrent/forge-developers-mlir-core
/lib/Target/TTNN/ @tenstorrent/forge-developers-mlir-core

# Runtime
/runtime/ @tenstorrent/forge-developers-mlir-runtime
/runtime/tools/ @tapspatel @ctodTT

# PyKernel & ttnn-jit
/tools/pykernel/ @xanderchin @vtangTT
/test/pykernel/ @xanderchin @vtangTT
/tools/ttnn-jit/ @xanderchin @vtangTT @arminaleTT
/test/ttnn-jit/ @xanderchin @vtangTT @arminaleTT

# TTIRBuilder
/tools/builder @ctodTT @tapspatel @jgrimTT

# ttrt
/tools/ttrt @ctodTT @tapspatel @jgrimTT

# tt-explorer
/tools/explorer/ @tenstorrent/forge-developers-mlir-explorer

# ttnn-standalone
/tools/ttnn-standalone @tenstorrent/forge-developers-mlir-core

# tt-alchemist
/tools/tt-alchemist/ @tenstorrent/forge-developers-mlir-core

# Scripts
/tools/scripts/ @nsmithtt @ddilbazTT

# python golden tests
test/python/golden/test_metal_dma.py @bgrady-tt
