* @nsmithtt
*.fbs @tapspatel
/.github/ @vmilosevic
/include/ttmlir/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @rpavlovicTT
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT @rpavlovicTT @sdjordjevicTT @mtopalovicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @rpavlovicTT @svuckovicTT @mtopalovicTT @mrakitaTT @nobradovictt
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @rpavlovicTT @svuckovicTT @mtopalovicTT @mrakitaTT @nobradovictt
/include/ttmlir/Dialect/TTKernel/ @rjakovljevicTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @rpavlovicTT @nobradovictt
/lib/Conversion/TTIRToTTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @rpavlovicTT
/lib/Conversion/TTNNToEmitC/ @svuckovicTT @rpavlovicTT @sdjordjevicTT @mtopalovicTT
/lib/Dialect/TT/ @sdjordjevicTT @rpavlovicTT @svuckovicTT @mtopalovicTT @mrakitaTT @nobradovictt
/lib/Dialect/TTIR/ @sdjordjevicTT @rpavlovicTT @svuckovicTT @mtopalovicTT @mrakitaTT @nobradovictt
/lib/Dialect/TTKernel/ @rjakovljevicTT
/lib/Dialect/TTNN/ @sdjordjevicTT @svuckovicTT @mtopalovicTT @rpavlovicTT @nobradovictt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel
