.local
build
third_party/tt-metal
.DS_STORE
.vscode/*
.cache
*pycache*
*.egg-info
ttrt-artifacts/*
query_results.json
run_results.json
ttrt_report.xml
cluster_descriptor.yaml

# TTNN and TTMetal flatbuffers
*.ttnn
*.ttm
*.make
*.marks
*.cmake
