name: Build Wheels (call)

on:
  workflow_call:
    inputs:
      docker-tag:
        description: 'Docker tag for the manylinux image'
        required: false
        type: string
        default: 'latest'
      docker_image:
        description: 'Docker image to use for building wheels'
        required: true
        type: string

jobs:
  build-wheels:
    strategy:
      fail-fast: false
      matrix:
        build: [
          { name: "ttmlir", path: "python" },
          { name: "pykernel", path: "tools/pykernel" }
        ]
    name: Build ${{ matrix.build.name }} Wheel
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set reusable strings
        id: strings
        shell: bash
        run: |
          echo "work-dir=$(pwd)" >> "$GITHUB_OUTPUT"
          echo "build-output-dir=$(pwd)/build" >> "$GITHUB_OUTPUT"
          echo "wheel-output-dir=$(pwd)/dist" >> "$GITHUB_OUTPUT"

      - name: Git safe dir
        run: git config --global --add safe.directory ${{ steps.strings.outputs.work-dir }}

      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Build ttmlir Wheel (manylinux)
        uses: pypa/cibuildwheel@v3.2
        env:
          CIBW_ENVIRONMENT: "IN_CIBW_ENV=ON"
          CIBW_MANYLINUX_X86_64_IMAGE: ghcr.io/tenstorrent/tt-mlir/tt-mlir-manylinux-2-34:${{ inputs.docker-tag || 'latest' }}
        with:
          output-dir: ${{ steps.strings.outputs.wheel-output-dir }}
          package-dir: ${{ steps.strings.outputs.work-dir }}/${{ matrix.build.path }}
          config-file: "${{ steps.strings.outputs.work-dir }}/${{ matrix.build.path }}/pyproject.toml"

      - name: Upload wheel artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.build.name }}-wheel
          path: ${{ steps.strings.outputs.wheel-output-dir }}/*.whl
          if-no-files-found: error


  test-wheel-install:
    strategy:
      fail-fast: false
      matrix:
        build: [
          { name: "ttmlir", test: 'python -c "from ttmlir import ir; print(\"Imported ttmlir & Created CTX: \", ir.Context())"' },
          { name: "pykernel", test: 'python -c "import pykernel; print(\"Imported pykernel:\", pykernel)"' },
        ]

    needs: build-wheels
    timeout-minutes: 30
    name: Test pykernel Wheel Installation
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Git safe dir
        run: git config --global --add safe.directory $(pwd)

      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Download wheel
        uses: actions/download-artifact@v4
        with:
          name: ${{ matrix.build.name }}-wheel
          path: ./dist

      - name: Test wheel installation
        shell: bash
        run: |
          WHEEL_FILE=$(ls ./dist/${{ matrix.build.name }}-*.whl)
          echo "Installing wheel: $WHEEL_FILE"
          pip install $WHEEL_FILE

          # Test the installation
          ${{ matrix.build.test }}
