name: Build on macos-latest

on:
  workflow_dispatch:  # Manual trigger
    inputs:
      run-linter:
        description: 'Run linter'
        type: boolean
        default: false
  workflow_call:

env:
  SDK_VERSION: "0"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        build: [
          {runs-on: "macos-latest", c_compiler: "clang", cpp_compiler: "clang++", build_type: "Release", enable_runtime: "OFF"}
        ]
    runs-on: ${{ matrix.build.runs-on }}
    timeout-minutes: 600
    steps:
    - uses: actions/checkout@v4
      with:
          fetch-depth: 0 # Fetch all history and tags

    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Get macos sdk version
      if: startsWith(matrix.build.runs-on, 'macos')
      shell: bash
      run: |
        echo "SDK_VERSION=$(xcrun --show-sdk-version)" >> $GITHUB_ENV

    - name: Build and cache ttmlir-toolchain
      uses: ./.github/actions/build-toolchain
      with:
        os: ${{ matrix.build.runs-on }}
        sdk: ${{ env.SDK_VERSION }}

    - name: ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        create-symlink: true
        key: ${{ matrix.build.runs-on }}-runtime-${{ matrix.build.enable_runtime }}-${{ env.SDK_VERSION }}

    - name: Set reusable strings
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Configure CMake
      shell: bash
      run: |
        source env/activate
        cmake -G Ninja \
        -B ${{ steps.strings.outputs.build-output-dir }} \
        -DCMAKE_CXX_COMPILER=${{ matrix.build.cpp_compiler }} \
        -DCMAKE_C_COMPILER=${{ matrix.build.c_compiler }} \
        -DCMAKE_BUILD_TYPE=${{ matrix.build.build_type }} \
        -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
        -DCMAKE_BUILD_PARALLEL_LEVEL=4 \
        -DTTMLIR_ENABLE_RUNTIME=${{ matrix.build.enable_runtime }} \
        -DTTMLIR_ENABLE_RUNTIME_TESTS=${{ matrix.build.enable_runtime }} \
        -S ${{ github.workspace }}

    - name: Build
      shell: bash
      run: |
        source env/activate
        cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build.build_type }}

    - name: Lint
      if: inputs.run-linter && matrix.build.enable_runtime == 'OFF'
      shell: bash
      run: |
        source env/activate
        cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build.build_type }} -- clang-tidy

    - name: Run Test
      shell: bash
      run: |
        source env/activate
        export TTMLIR_TEST_WORKFLOW=nightly # turn on randomized mode for participating gtests
        cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build.build_type }} -- check-ttmlir

    - name: Build ttrt
      shell: bash
      run: |
        source env/activate
        cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build.build_type }}

    - name: Upload Test Report
      uses: actions/upload-artifact@v4
      with:
        name: test-reports-${{ matrix.build.runs-on }}
        path: build/test/report.xml

    - name: Show Test Report
      uses: mikepenz/action-junit-report@v4
      if: success() || failure()
      with:
        report_paths: build/test/report.xml
        check_name: ${{ matrix.build.runs-on }} MLIR Tests
