name: Test

on:
  workflow_call:
    inputs:
      docker_image:
        description: 'Docker image for the build'
        required: true
        type: string
      test_matrix:
        description: 'Test matrix for run-tests job'
        required: true
        type: string
      timeout:
        description: 'Timeout in minutes for the test job'
        required: false
        type: number
        default: 60
    outputs:
      failed-test-summary:
        description: 'Failed test summary'
        value: ${{ jobs.test-summary.outputs.failed-test-summary }}

permissions:
  checks: write
  packages: write

jobs:
  # Run tests on TT hardware

  run-tests:

    timeout-minutes: ${{ inputs.timeout }}
    strategy:
      fail-fast: false
      matrix:
        build: ${{ fromJson(inputs.test_matrix) }}
    name: "run-tests (${{ matrix.build.runs-on }},${{ matrix.build.image }},${{ strategy.job-index }})"

    runs-on: ${{ matrix.build.sh-run && format('tt-ubuntu-2204-{0}-stable', matrix.build.runs-on) || fromJson(format('["{0}", "in-service"]', matrix.build.runs-on)) }}

    container:
      image: ${{ matrix.build.sh-run && format('harbor.ci.tenstorrent.net/{0}', inputs.docker_image) || inputs.docker_image }}
      options: ${{ matrix.build.no-device && ' ' || '--device /dev/tenstorrent' }}
      volumes:
        - /dev/hugepages:/dev/hugepages
        - /dev/hugepages-1G:/dev/hugepages-1G
        - /etc/udev/rules.d:/etc/udev/rules.d
        - /lib/modules:/lib/modules
        - /opt/tt_metal_infra/provisioning/provisioning_env:/opt/tt_metal_infra/provisioning/provisioning_env

    steps:
    - uses: actions/checkout@v4
      with:
          fetch-depth: 0

    - name: Fetch job id
      id: fetch-job-id
      uses: tenstorrent/tt-github-actions/.github/actions/job_id@main
      with:
        job_name: "run-tests (${{ matrix.build.runs-on }},${{ matrix.build.image }},${{ strategy.job-index }})"

    - name: Log out tt-triage exception
      shell: bash
      run: |
        echo "device timeout, potential hang detected, the device is unrecoverable"

    - name: Collect data
      uses: ./.github/workflows/workflow-run-collect-data.yml
      with:
        run_id: ${{ github.run_id }}
        run_attempt: ${{ github.run_attempt }}
