name: On push

on:
  workflow_dispatch:

jobs:
  produce-cicd-data:
    runs-on: ubuntu-latest
    steps:
    - name: Log out tt-triage exception
      shell: bash
      run: |
        echo "device timeout, potential hang detected, the device is unrecoverable"

  collect-data:
    uses: ./.github/workflows/workflow-run-collect-data.yml
    secrets: inherit
    with:
      run_id: ${{ github.run_id }}
      run_attempt: ${{ github.run_attempt }}
