name: On push

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

permissions:
  checks: write
  packages: write
  contents: read
  pages: write
  id-token: write

jobs:
  pre-commit:
    uses: ./.github/workflows/pre-commit.yml
    secrets: inherit
  spdx:
    uses: ./.github/workflows/spdx.yml
    secrets: inherit
  build-and-test:
    needs:
      - pre-commit
      - spdx
    uses: ./.github/workflows/build-and-test.yml
    secrets: inherit
    with:
      builder_build: true
  save-durations:
    needs: build-and-test
    runs-on: ubuntu-latest
    if: success() && github.ref == 'refs/heads/main'
    steps:
      - name: Set test durations
        shell: bash
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          echo "This is main branch, getting test durations"
          rm -rf _test_durations_d
          rm -rf _test_durations
          gh run download ${{ github.run_id }} --repo tenstorrent/tt-mlir --pattern "test-durations*" --dir _test_durations_d
          find _test_durations_d -name "_test_duration" -exec cat {} + > _test_durations
          gh variable set test_durations --body "$(cat _test_durations)" --repo tenstorrent/tt-mlir
          rm -rf _test_durations*
  docs:
    needs:
      - build-and-test
    uses: ./.github/workflows/pages.yml
    secrets: inherit
