name: On push

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

permissions:
  checks: write
  packages: write

jobs:
  pre-commit:
    uses: ./.github/workflows/pre-commit.yml
    secrets: inherit
  spdx:
    uses: ./.github/workflows/spdx.yml
    secrets: inherit
  build-and-test:
    needs:
      - pre-commit
      - spdx
    uses: ./.github/workflows/build-and-test.yml
    secrets: inherit
  docs:
    needs:
      - build-and-test
    uses: ./.github/workflows/pages.yml
    secrets: inherit
