name: On PR

on:
  workflow_dispatch:
    inputs:
      metal_override:
        description: 'Git SHA of commit in tenstorrent/tt-metal'
        required: false
        type: string
      builder_build:
        description: 'Run build on builder'
        required: false
        type: boolean
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: [ "main" ]

permissions:
  checks: write
  packages: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    uses: ./.github/workflows/pre-commit.yml
    secrets: inherit
  spdx:
    uses: ./.github/workflows/spdx.yml
    secrets: inherit
  build-and-test:
    needs:
      - pre-commit
      - spdx
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/build-and-test.yml
    secrets: inherit
    with:
      metal_override: ${{ inputs.metal_override }}
      builder_build: ${{ inputs.builder_build || false }}

  # When a PR runs on the uplift branch trigger the downstream checks
  downstream-checks:
    runs-on: ubuntu-latest
    needs: build-and-test
    if: github.event.pull_request.head.ref == 'uplift'
    strategy:
      matrix:
        projects: [
          { name: "tenstorrent/tt-forge-fe", workflow-name: "on-pr.yml" },
          { name: "tenstorrent/tt-torch", workflow-name: "on-pr.yml" },
          { name: "tenstorrent/tt-xla", workflow-name: "manual-test.yml" },
        ]
    env:
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      TARGET_REPO: ${{ matrix.projects.name }}
      WORKFLOW_NAME: ${{ matrix.projects.workflow-name }}
    steps:
      - name: Trigger ${{ env.TARGET_REPO }} tests
        shell: bash
        run: |
          if [[ "${{ env.TARGET_REPO }}" == "tenstorrent/tt-xla" ]]; then
            gh workflow run ${{ env.WORKFLOW_NAME }} \
              --repo ${{ env.TARGET_REPO }} --ref main \
              --field mlir_override=${{ github.event.pull_request.head.sha }} \
              --field preset=push \
              --field run_on=All
          else
            gh workflow run ${{ env.WORKFLOW_NAME }} \
              --repo ${{ env.TARGET_REPO }} --ref main \
              --field mlir_override=${{ github.event.pull_request.head.sha }}
          fi
          gh run list --workflow=${{ env.WORKFLOW_NAME }} --repo ${{ env.TARGET_REPO }} --limit 1
          echo "Triggered ${{ env.TARGET_REPO }} with tt-mlir ${{ github.event.pull_request.head.sha }}"
          echo "### Triggered [${{ env.TARGET_REPO }}](https://github.com/${{ env.TARGET_REPO }}/actions/workflows/${{ env.WORKFLOW_NAME }}) with tt-mlir ${{ github.event.pull_request.head.sha }} :rocket:" >> $GITHUB_STEP_SUMMARY

  check-all-green:
    if: always()
    needs:
    - pre-commit
    - spdx
    - build-and-test
    runs-on: ubuntu-latest
    steps:
    - name: Check if the needed jobs succeeded or failed
      id: check-jobs
      uses: re-actors/alls-green@release/v1
      with:
        allowed-skips: build-and-test
        jobs: ${{ toJSON(needs) }}
    - name: Set test durations
      if: !steps.check-jobs.outputs.failure
      shell: bash
      run: |
        # if [ '${{ github.ref }}' == 'refs/heads/main' ]; then
          echo "This is main branch, getting test durations"
          rm -rf _test_durations_d
          rm -rf _test_durations
          gh run download $runid --repo tenstorrent/tt-mlir --name "test-durations*" --dir _test_durations_d
          find _test_durations_d -name "_test_duration" -exec cat {} + > _test_durations
          gh variable set test_durations --body "$(cat _test_durations)" --repo tenstorrent/tt-mlir
          rm -rf _test_durations*
        # fi
