name: On PR

on:
  workflow_dispatch:
  pull_request:
    branches: [ "main" ]
  push: #debug

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit:
    uses: ./.github/workflows/pre-commit.yml
    secrets: inherit
  spdx:
    uses: ./.github/workflows/spdx.yml
    secrets: inherit
  # build-and-test:
  #   uses: ./.github/workflows/build-and-test.yml
  #   secrets: inherit

  # When a PR runs on the uplift branch trigger the downstream checks
  downstream-checks:
    runs-on: ubuntu-latest
    # needs: build-and-test
    needs: pre-commit # debug
    # if: github.event.pull_request.head.ref == 'uplift'
    strategy:
      matrix:
        include:
        - target-repo: 'tenstorrent/tt-forge-fe'
          workflow-name: 'build-and-test.yml'
        - target-repo: 'tenstorrent/tt-torch'
          workflow-name: 'on-pr.yml'
    env:
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      TARGET_REPO: ${{ matrix.target-repo }}
      WORKFLOW_NAME: ${{ matrix.workflow-name }}
    steps:
      - name: Trigger ${{ env.TARGET_REPO }} tests
        shell: bash
        run: |
          gh workflow run ${{ env.WORKFLOW_NAME }} \
            --repo ${{ env.TARGET_REPO }} --ref main \
            --field mlir_override=${{ github.event.pull_request.head.sha }}
          gh run list --workflow=${{ env.WORKFLOW_NAME }} --repo ${{ env.TARGET_REPO }} --limit 1
          echo "Triggered ${{ env.TARGET_REPO }}"
          echo "### Triggered [${{ env.TARGET_REPO }}](https://github.com/${{ env.TARGET_REPO }}/actions/workflows/${{ env.WORKFLOW_NAME }}) :rocket:" >> $GITHUB_STEP_SUMMARY
