name: On push

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

permissions:
  checks: write
  packages: write
  contents: read
  pages: write
  id-token: write

jobs:
  pre-commit:
    uses: ./.github/workflows/call-pre-commit.yml
    secrets: inherit
  build-image:
    uses: ./.github/workflows/call-build-docker.yml
    secrets: inherit
  prepare-run:
    uses: ./.github/workflows/call-prepare-run.yml
    with:
      builder_build: true
    secrets: inherit
  release-build:
    needs: [ prepare-run, build-image ]
    if: needs.prepare-run.outputs.skip_build != 'true'
    uses: ./.github/workflows/call-build-release.yml
    secrets: inherit
    with:
      docker_image: ${{ needs.build-image.outputs.docker-image }}
      runner: ${{ needs.prepare-run.outputs.runner }}
      sh_builder: ${{ fromJson(needs.prepare-run.outputs.sh_builder) }}
      component_matrix: ${{ needs.prepare-run.outputs.build_matrix }}
  debug-build:
    needs: [ prepare-run, build-image ]
    if: needs.prepare-run.outputs.skip_build != 'true'
    uses: ./.github/workflows/call-build-debug.yml
    secrets: inherit
    with:
      docker-image: ${{ needs.build-image.outputs.docker-image }}
  test:
    needs: [ prepare-run, build-image, release-build ]
    if: needs.prepare-run.outputs.skip_build != 'true'
    uses: ./.github/workflows/call-test.yml
    secrets: inherit
    with:
      docker_image: ${{ needs.build-image.outputs.docker-image }}
      test_matrix: ${{ needs.prepare-run.outputs.test_matrix }}
      timeout: ${{ fromJson(needs.prepare-run.outputs.test_timeout) }}
  save-durations:
    needs: test
    runs-on: ubuntu-latest
    if: success() && github.ref == 'refs/heads/main'
    steps:
      - name: Set test durations
        shell: bash
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          echo "This is main branch, getting test durations"
          rm -rf _test_durations_d
          rm -rf _test_durations
          gh run download ${{ github.run_id }} --repo tenstorrent/tt-mlir --pattern "test-durations*" --dir _test_durations_d
          find _test_durations_d -name "_test_duration" -exec cat {} + > _test_durations
          gh variable set test_durations --body "$(cat _test_durations)" --repo tenstorrent/tt-mlir
          rm -rf _test_durations*
  docs:
    if: github.ref == 'refs/heads/main'
    needs: build-image
    uses: ./.github/workflows/call-build-docs.yml
    secrets: inherit
    with:
      docker-image: ${{ needs.build-image.outputs.docker-image }}
