name: docs

on:
  push:
    branches: ["main"]
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    strategy:
      matrix:
        build: [{runs-on: macos-latest}]
    runs-on: ${{ matrix.build.runs-on }}
    env:
      MDBOOK_VERSION: 0.4.36
    steps:

      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # Fetch all history and tags

      - name: Build and cache ttmlir-toolchain
        uses: ./.github/actions/build-toolchain
        with:
          os: ${{ runs-on }}

      - name: Install mdBook
        run: |
          curl --proto '=https' --tlsv1.2 https://sh.rustup.rs -sSf -y | sh
          rustup update
          cargo install --version ${MDBOOK_VERSION} mdbook

      - name: Set up Homebrew
        uses: homebrew/actions/setup-homebrew@master

      - name: Install Doxygen
        run: brew install doxygen

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5

      - name: Build the docs
        shell: bash
        run: |
          source env/activate
          cmake -B build -S ${{ github.workspace }}
          cmake --build build -- doxygen

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./build/docs/book

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
