name: Nightly run

on:
  workflow_dispatch:
  schedule:
    - cron: '0 4 * * *'  # Runs at 04:00 UTC every day

jobs:
  build-macos:
    uses: ./.github/workflows/call-build-macos.yml
    secrets: inherit
  prepare-run:
    uses: ./.github/workflows/call-prepare-run.yml
    with:
      build_all: true
    secrets: inherit
  build-image:
    uses: ./.github/workflows/call-build-docker.yml
    secrets: inherit
  release-build:
    needs: [ prepare-run, build-image ]
    if: needs.prepare-run.outputs.skip_build != 'true'
    uses: ./.github/workflows/call-build-release.yml
    secrets: inherit
    with:
      docker_image: ${{ needs.build-image.outputs.docker-image }}
      runner: ${{ needs.prepare-run.outputs.runner }}
      sh_builder: ${{ fromJson(needs.prepare-run.outputs.sh_builder) }}
      component_matrix: ${{ needs.prepare-run.outputs.build_matrix }}
  wheels-build:
    needs: [ prepare-run, build-image ]
    uses: ./.github/workflows/call-build-wheels.yml
    secrets: inherit
    with:
      docker-tag: ${{ needs.build-image.outputs.docker-tag }}
      docker_image: ${{ needs.build-image.outputs.docker-image }}
  test:
    needs: [ prepare-run, build-image, release-build ]
    if: needs.prepare-run.outputs.skip_build != 'true'
    uses: ./.github/workflows/call-test.yml
    secrets: inherit
    with:
      docker_image: ${{ needs.build-image.outputs.docker-image }}
      test_matrix: ${{ needs.prepare-run.outputs.test_matrix }}

  fail-send-msg:
    if: always()
    needs:
      - build-macos
      - prepare-run
      - build-image
      - release-build
      - wheels-build
      - test
    runs-on: Ubuntu-latest
    steps:
      - name: Check if branch is main
        id: branch-check
        run: echo "IS_MAIN=$(if [ '${{ github.ref }}' == 'refs/heads/main' ]; then echo true; else echo false; fi)" >> $GITHUB_OUTPUT
      - name: Check if the needed jobs succeeded or failed
        id: check
        uses: re-actors/alls-green@v1.2.2
        continue-on-error: true
        with:
          jobs: ${{ toJSON(needs) }}
          allowed-failures: test_models_ops, test_sweeps
          allowed-skips: test_models_ops, test_sweeps
      - name: Send Fail Notification
        if: failure() && steps.check.conclusion == 'failure' && steps.branch-check.outputs.IS_MAIN == 'true'
        uses: slackapi/slack-github-action@v1.26.0
        with:
          payload: |
            {
              "text": "Nightly has failed!: <https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}/attempts/${{ github.run_attempt }}>",
              "channel": "C07FJP9B87M"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_NIGHTLY_FAIL }}
